/*--Default css--*/
body {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    -webkit-font-feature-settings: "liga" 1, "kern" 1;
    font-feature-settings: "liga" 1, "kern" 1;
    line-height: 1.5;
    color: #222;
    margin: 0;
    justify-items: center;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: calc(111000 + 1);
}

button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    line-height: normal;
    text-transform: none;
    cursor: pointer;
}

div {
    box-sizing: border-box;
}

section {
    box-sizing: border-box;
    width: 100vw;
    padding: 0 12px;
    max-width: 528px;
    margin: auto;
}

h1 {
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 480px) {
    section {
        max-width: 528px;
    }
}

@media (min-width: 768px) {
    section {
        max-width: 696px;
    }
}

@media (min-width: 1024px) {
    section {
        max-width: 912px;
    }
}

@media (min-width: 1200px) {
    section {
        max-width: 1268px;
    }
}

button:focus {
    outline: none;
}

/*--custom css--*/

/*--NavBar*/
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #222;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #222;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

#SiteNav {
    background-color: #f1f1f1;
}

.iteNav--border {
    border-bottom: 1px solid #fff;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    position: relative;
    height: 32px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.site-nav-contents {
    margin-right: auto;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-self: center;
}

.site-nav-branding {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-right: 0.5rem;
}

#SiteNav .site-nav .vertical-divider {
    border-left: 1px solid #222;
    margin-left: 0.25rem;
}

.select-city-dropdown {
    padding-left: 15px;
}

.select-city-dropdown-trigger {
    white-space: nowrap;
    border: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-city-dropdown-trigger > span {
    font-weight: 700;
}

.select-city-dropdown-trigger > img {
    margin-top: 1px;
}

.select-city-container {
    position: fixed;
    top: 32px;
    left: 0;
    width: min-content;
    max-width: 100vw;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    display: none;
    z-index: 1000000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.select-city-dropdownMenu {
    height: min-content;
    width: min-content;
    overflow-y: auto;
    display: block;
    column-gap: 10px;
    grid-auto-flow: column;
    justify-content: start;
    grid-auto-columns: max-content;
    padding: 8px 10px;
    z-index: 100000000000;
    background-color: #fff;
}

.select-city-dropdownMenu .dropdown-item {
    display: inline-block;
    width: 173px;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
    break-inside: avoid;
    color: #222;
    line-height: 3;
    font-size: 14px;
}

.select-city-dropdownMenu .dropdown-item:hover {
    color: #23556e;
}

#SiteNav .select-city-dropdown .dropdown-menu {
    border: 0;
    padding-top: 1rem;
    padding-right: 3rem;
    margin: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (min-width: 480px) {
    .select-city-container {
        top: 26px;
    }

    #SiteNav #SiteNavBranding {
        min-width: 190px;
        width: auto;
        padding-left: 1rem;
    }

    #SiteNav .site-nav {
        height: 26px;
        padding: 0;
    }

    .site-nav-branding {
        padding-right: 1rem;
    }

    #SiteNav .site-nav .vertical-divider {
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    .select-city-container {
        top: 34px;
        height: fit-content;
    }

    .select-city-dropdownMenu {
        display: grid;
        grid-template-rows: repeat(12, auto);
    }

    .select-city-dropdownMenu .dropdown-item {
        line-height: 2.4;
    }

    #SiteNav .site-nav {
        height: 34px;
    }

    #SiteNav .select-city-dropdown .dropdown-menu {
        padding-right: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .select-city-dropdownMenu {
        grid-template-rows: repeat(10, auto);
    }
}

/*sigin*/
.account-nav {
    position: relative;
    right: 10px;
}

.signIn-trigger {
    white-space: nowrap;
    border: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.signIn-trigger > span {
    display: none;
    font-weight: 700;
    font-size: 12px;
}

.signIn-trigger > img {
    margin-top: 1px;
}

.signIn-trigger .img-chevron {
    display: none;
}

.signIn-dropdown {
    position: fixed;
    right: 25px;
    top: 26px;
    width: min-content;
    height: min-content;
    display: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 16px;
    font-size: 14px;
    z-index: 100000000;
    background-color: #fff;
}

.signIn-dropdown > a {
    display: block;
    color: #256686;
    width: 184px;
    text-decoration: none;
}

.signIn-dropdown > a:hover > text {
    text-decoration: underline;
}

.signIn-dropdown > a > span {
    color: #707070;
    text-decoration: none;
    white-space: nowrap;
}

.account-nav:hover .signIn-dropdown {
    display: block;
}

.img-user {
    display: block;
    height: 12px;
    width: 12px;
    padding: 4px 8px;
    margin-right: 4px;
}

@media (min-width: 768px) {
    .signIn-dropdown {
        top: 35px;
    }

    .signIn-trigger span {
        display: block;
    }

    .signIn-trigger .img-chevron {
        display: block;
    }

    .img-user {
        display: none;
    }

    .signIn-dropdown {
        right: 0;
    }
}

/*--MarketNav--*/
#MarketNav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    height: 50px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

/*burger*/
#LinkMenu {
    position: absolute;
    left: 0;
    display: flex;
    background-color: #fff;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#LinkMenu > button {
    cursor: pointer;
    border: none;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    width: 50px;
}

#LinkMenu > button > img {
    height: 24px;
    width: 24px;
}
#LinkMenu > div {
    display: none;
    position: fixed;
    top: 82px;
    left: 0;
    right: 0;
    z-index: 1000;
    max-height: calc(100vh - 76px);
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 10px 30px;
}

.lastNews-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    width: 100%;
}

#LinkMenu a {
    color: #222;
    font-size: 14px;
    text-decoration: none;
    height: 49px;
}

#LinkMenu a:hover {
    color: #256686;
}

.menuLink-container {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
}

.menuLink-container > button {
    padding: 15px 0;
    border-top: 1px solid #dddddd;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
}

#subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: #256686;
    color: white !important;
    padding: 10px 30px;
    height: auto !important;
    text-align: center;
}

.subscribe:hover {
    background-color: #163d50;
}

#News {
    grid-template-rows: repeat(7, auto);
}

#Industry,
#Partner,
#listImg {
    display: block;
}

#Events,
#Marketing,
#Newsletters,
#xImg {
    display: none;
}

#Industry .lastNews-container {
    grid-template-rows: repeat(12, auto);
}

#Partner .lastNews-container {
    grid-template-rows: repeat(2, auto);
}

#Events .lastNews-container {
    grid-template-rows: repeat(4, auto);
}

#Marketing .lastNews-container {
    grid-template-rows: repeat(8, auto);
}

#Newsletters .lastNews-container {
    grid-template-rows: repeat(2, auto);
}

/*Logo*/
.logo {
    height: 50px;
    width: 100vw;
    margin-left: 0;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
}

#LogoLarge {
    display: block;
}

#LogoSmall {
    display: none;
}

/*Promo*/
#Promo {
    display: none;
    width: 704px;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
}

#Promo > a {
    color: #222;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

#Promo > a:hover {
    color: #23556e;
}

#Promo > a > img {
    height: 12px;
    margin-top: 6px;
}

/*MarketSearch*/
#MarketSearch {
    position: absolute;
    right: 0;
    display: block;
    height: 100%;
    background-color: #163d50;
}

#MarketSearch > button {
    cursor: pointer;
    border: none;
    align-items: center;
    justify-items: center;
    background-color: inherit;
    width: 50px;
    height: 100%;
}

#MarketSearch > button > img {
    height: 24px;
    width: 24px;
    position: absolute;
}

#SearchMob {
    display: block;
    background-color: #163d50;
    height: 100%;
    width: 100%;
}

#SearchMenu .searchMenu-div {
    position: fixed;
    z-index: 10000000000;
    left: 0;
    right: 0;
    top: 82px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: #163d50;
}

.searchMenu-div > div {
    height: 33px;
    width: 1068px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 5px;
}

#SearchMenu .searchMenu-div form {
    height: 33px;
    width: 100%;
}

.searchMenu-div form div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 100%;
}

.searchMenu-div form input {
    border: none;
    width: 100%;
}

.searchMenu-div form input:focus-visible,
input:focus,
input:focus-within {
    border: none;
    outline: none;
}

.searchMenu-div form div button {
    border: none;
    align-items: center;
    justify-items: center;
    background-color: #fff;
}

.searchMenu-div form div button img {
    height: 15px;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.Search,
.xSearch,
.sxSearch,
#SearchPc,
#SearchMenu {
    display: none;
}

.sSearch {
    display: block;
}

@media (min-width: 480px) {
    #MarketNav {
        height: 64px;
    }

    /*burger*/
    #LinkMenu > div {
        top: 90px;
    }

    #SearchMenu .searchMenu-div {
        top: 90px !important;
    }

    #SearchMenu .searchMenu-div > div {
        width: 516px;
    }

    /*logo*/
    .logo {
        height: 64px !important;
    }

    /*MarketSearch*/
    #MarketSearch {
        background-color: #fff;
    }

    #SearchPc,
    .Search {
        display: block;
    }

    #SearchMob,
    .sSearch {
        display: none;
    }
}

@media (min-width: 768px) {
    /*burger*/
    #SearchMenu .searchMenu-div > div {
        width: 672px;
    }

    /*logo*/
    .logo {
        width: 190px;
        margin-left: 50px;
    }

    #LogoLarge,
    #subscribe {
        display: none;
    }

    #LogoSmall {
        display: block;
        height: 60px;
    }
}

@media (min-width: 1024px) {
    /*burger*/
    #LinkMenu > div {
        top: 100px;
    }

    #SearchMenu .searchMenu-div {
        top: 100px !important;
    }

    #SearchMenu .searchMenu-div > div {
        width: 888px;
    }

    #Promo {
        display: none;
    }

    .lastNews-container {
        grid-template-columns: repeat(4, 1fr);
    }

    #LinkMenu > div {
        top: 100px;
        max-height: calc(100vh - 86px);
    }

    #News {
        grid-template-rows: repeat(4, auto);
    }

    #Industry .lastNews-container {
        grid-template-rows: repeat(6, auto);
    }

    #Partner .lastNews-container {
        grid-template-rows: repeat(1, auto);
    }

    #Events .lastNews-container {
        grid-template-rows: repeat(2, auto);
    }

    #Marketing .lastNews-container {
        grid-template-rows: repeat(4, auto);
    }

    #Newsletters .lastNews-container {
        grid-template-rows: repeat(1, auto);
    }

    /*promo*/
    #Promo {
        display: flex;
    }
}

@media (min-width: 1200px) {
    /*burger*/
    #SearchMenu .searchMenu-div {
        top: 150px !important;
    }

    #LinkMenu,
    #News,
    #FirstButton {
        display: none;
    }

    .menuLink-container {
        padding-top: 0;
    }

    /*logo*/
    .logo {
        margin-left: 0;
    }
}

/*--Nav for 1200px--*/
#LinkMenuWide {
    display: none;
    height: 50px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    align-items: center;
}

#LinkMenu12 {
    display: inline-block;
    position: relative;
    height: 100%;
    align-items: center;
}

#LinkMenu12 > button {
    cursor: pointer;
    border: none;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
}

#LinkMenu12 > button > img {
    height: 24px;
    width: 24px;
}

#menu12 {
    display: none;
    position: fixed;
    top: 150px;
    max-height: calc(100vh - 150px);
    right: 0;
    left: 0;
    z-index: 10000;
    overflow-y: auto;
    padding: 15px 10px;
    background-color: #f1f1f1;
}

#menu12 .menuLink-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.noBorder {
    border: none !important;
}

#LinkMenu12 a {
    color: #222;
    font-size: 14px;
    text-decoration: none;
    height: 49px;
}

#LinkMenu12 a:hover {
    color: #256686;
}

#News12 {
    grid-template-rows: repeat(7, auto);
}

#Industry12,
#Partner12 {
    display: block;
}

#Industry12 .lastNews-container {
    grid-template-rows: repeat(12, auto);
}

#Partner12 .lastNews-container {
    grid-template-rows: repeat(2, auto);
}

#Events12,
#Marketing12,
#Newsletters12 {
    display: none;
}

#Events12 .lastNews-container {
    grid-template-rows: repeat(4, auto);
}

#Marketing12 .lastNews-container {
    grid-template-rows: repeat(8, auto);
}

#Newsletters12 .lastNews-container {
    grid-template-rows: repeat(2, auto);
}

.shortlinks-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
}

#ShortLink {
    width: calc(100vw - 570px);
}

#ShortLink2 {
    background-color: #fff;
    z-index: 100;
}

#ShortLink,
#ShortLink2 {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
}

#ShortLink a,
#ShortLink2 a,
#ShortLink2 span {
    flex: 0 0 auto;
    padding: 0 10px;
    font-size: 13px;
    color: #222;
    text-decoration: none;
}

#ShortLink a:hover,
#ShortLink2 a:hover {
    color: #256686;
}

@media (min-width: 1200px) {
    #LinkMenuWide {
        display: flex;
    }

    #News12,
    #FirstButton {
        display: none;
    }

    .menuLink-container {
        padding-top: 0;
    }
}

@media (min-width: 1024px) {
    #News12 {
        grid-template-rows: repeat(4, auto);
    }

    #Industry12 .lastNews-container {
        grid-template-rows: repeat(6, auto);
    }

    #Partner12 .lastNews-container {
        grid-template-rows: repeat(1, auto);
    }

    #Events12 .lastNews-container {
        grid-template-rows: repeat(2, auto);
    }

    #Marketing12 .lastNews-container {
        grid-template-rows: repeat(4, auto);
    }

    #Newsletters12 .lastNews-container {
        grid-template-rows: repeat(1, auto);
    }
}

/*--END HEADER--*/

/*--MAIN--*/
main {
    margin-top: 113px;
    max-width: 1268px;
    box-sizing: border-box;
}

@media (min-width: 480px) {
    main {
        margin-top: 92px;
    }
}

@media (min-width: 1024px) {
    main {
        margin-top: 100px;
    }
}

@media (min-width: 1200px) {
    main {
        margin-top: 150px;
    }
}

/*--Section S1--*/
.s1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 12px;
}

.s1-topNews {
    max-width: 100%;
    padding: 0 12px;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.c1 {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 0 10px 10px 10px;
}

.c1 img {
    height: 100%;
    width: 100%;
}

.meta {
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
}

.linkCard {
    color: #222;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.linkCard > .h2 {
    font-size: 30px;
    line-height: 1.25;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.linkCard > .span {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.linkCard:hover > h2 {
    text-decoration: underline;
    color: #7ca3b6;
}

.c2 {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.c2-a {
    display: block;
    width: 50%;
    border-right: 1px solid #ddd;
    padding: 0 10px;
}

.c2-a img {
    height: 100%;
    width: 100%;
}

.linkCard > h2 {
    font-size: 18px;
    line-height: 1.35;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-decoration: none;
}

.linkCard > span {
    font-size: 14px;
    line-height: 1.35;
    text-decoration: none;
}

.c3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 0;
}

.c3 img {
    height: 100%;
    width: 100%;
}

.c3-a {
    display: block;
    width: 30%;
    border-right: 1px solid #ddd;
    padding: 0 10px;
}

.s1-container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.s1-lastNews,
.s1-yourNews {
    max-width: 100%;
    width: 100%;
    border: 0;
}

.s1-lastNews h1,
.s1-yourNews h1 {
    margin-right: 0;
}

.c4 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 15px 0;
}

.c5 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 15px 0;
}

.c5 img {
    width: 125px;
    margin-right: 10px;
}

.c5 h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.625;
    margin-bottom: 5px;
    padding-top: 10px;
    margin-top: 0;
}

.c5 ul {
    font-size: 14px;
    list-style-type: disc;
    padding: 0;
    margin: 0;
}

.c5 li {
    margin-left: 15px;
}

.c5 a {
    color: #256686;
    text-decoration: none;
}

.c5 a:hover {
    text-decoration: underline;
}

@media (min-width: 480px) {
    .s1 {
        padding: 0;
        max-width: 528px;
        margin: auto;
        flex-direction: column;
    }
    .s1-topNews {
        max-width: 100%;
        padding: 0 12px;
        border-right: 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }

    .s1-container {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .s1-lastNews,
    .s1-yourNews {
        max-width: 50%;
        width: 50%;
        padding: 0 12px;
    }

    .s1-lastNews {
        border-right: 1px solid #ddd;
    }
}

@media (min-width: 768px) {
    .s1 {
        max-width: 696px;
    }
}

@media (min-width: 1024px) {
    .s1 {
        flex-direction: row;
        max-width: 912px;
    }

    .s1-topNews {
        max-width: 50%;
        padding: 0 12px;
        border-right: 1px solid #ddd;
        border-bottom: none;
        margin-bottom: 0;
    }

    .s1-container {
        max-width: 50%;
        width: 50%;
    }

    .s1-lastNews {
        max-width: 60%;
        width: 60%;
        padding: 0 12px;
        border-right: 1px solid #ddd;
    }

    .s1-yourNews {
        max-width: 40%;
        width: 40%;
        padding: 0 12px;
        border: 0;
    }

    .c5 {
        flex-direction: column;
    }

    .c5 img {
        width: 100%;
        margin:0;
    }
}

@media (min-width: 1200px) {
    .s1 {
        max-width: 100%;
        width: 100%;
    }
}

/*MoreNews BUtton*/
.moreNews {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreNews a {
    color: #256686;
    border: 1px solid #256686;
    font-size: 15px;
    padding: 7px 30px 6px 30px;
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.moreNews a:hover {
    color: #fff;
    background-color: #256686;
}

/*--Sezione 2--*/
.s2 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 18px;
}

@media (min-width: 480px) {
    .s2 {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0 12px;
    }
}

@media (min-width: 768px) {
    .s2 {
        padding: 0 18px;
    }
}

@media (min-width: 1024px) {
    .s2 {
        padding: 0 36px;
    }
}

.s2-title {
    display: block;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.s2-title a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #222;
}

.s2-title a h3 {
    line-height: 1.25;
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 5px 0;
    margin: 0;
}

.s2-title a span {
    display: none;
}

.s2-title a:hover {
    text-decoration: underline;
}

.tilteChevron {
    display: block;
    color: #256686;
}

.s2-linkMini {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
}

.s2-linkMini a {
    color: #256686;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    flex-shrink: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.hidden {
    display: none; 
}

.s2-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.s2-container .c2 {
    max-width: 60%;
    border: 0;
}

.s2-container .c6-container {
    max-width: 40%;
    padding: 15px;
    margin-top: 15px;
}

.c6 {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.c6 a .meta {
    margin-top: 10px;
}

.c6 a h2,
.c7 h2 {
    font-size: 16px;
    line-height: 1.25;
}

.s2-m1024 {
    display: none;
}

.s2-M1023 {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding-top: 10px;
    padding-bottom: 2px;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.s2-M1023::-webkit-scrollbar {
    height: 8px;
}

.s2-M1023:hover::-webkit-scrollbar {
    position: absolute;
    height: 8px;
    color: #222;
}

.s2-M1023:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    height: 8px;
    background: rgba(0, 0, 0, 0.2);
}

.c7 {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 270px;
    padding-right: 15px;
    margin: 15px 15px 15px 0;
    border-right: 1px solid #ccc;
}

.c7 h2 {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.c7 span {
    margin-top: 10px;
    height: 100%;
    font-size: 12px;
    line-height: 1.35;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.paid > span {
    display: flex;
    width: fit-content;
    border-radius: 2px;
    font-size: 12px;
    padding: 5px;
    color: white;
    background-color: #5a919c;
}

.paid {
    width: 100%;
    display: flex;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.s2-underTitle {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    width: fit-content;
}

.nobold {
    font-weight: normal !important;
}

.c8 {
    width: 19%;
    display: flex;
    border: 1px solid #ddd;
    margin: 5px;
}

.c8 img {
    width: 100%;
}

.c8 h2 {
    padding: 10px 5px 0 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.625;
}

.c8 span {
    padding: 5px 5px 0 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.border-vertical {
    margin: 0 5px;
    border-left: 1px solid #ddd;
    min-height: 100%;
    width: 1px;
}

.c9 {
    margin-left: 5px;
    display: flex;
    width: 24%;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    padding: 15px;
}

.c9 h4 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 0;
}

.c9 span {
    font-size: 16px;
    margin: 16px 0;
}

.c9 a {
    color: white;
    background-color: #256686;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.c9 a:hover {
    background-color: #1f5772;
}

.s2-M1023 .c8 {
    width: 190px;
    min-width: 190px;
}

#c9 {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.c10 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
}

.c10 .c10-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100vw;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
    padding-bottom: 10px;
}

.c10-container::-webkit-scrollbar {
    height: 8px;
}

.c10-container:hover::-webkit-scrollbar {
    height: 8px;
    color: #222;
}

.c10-container:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    height: 8px;
    background: rgba(0, 0, 0, 0.2);
}

.c10 .card {
    width: 195px;
    min-width: 195px;
    height: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.c10 .card .subtitle {
    font-size: 10px;
    text-transform: uppercase;
    color: #707070;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.c10 .card h3,
.c13 > h3 {
    margin: 0;
    padding: 10px 0 0 0;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.25;
    font-weight: 700;
    font-size: 16px;
}

.c13 > h3 {
    padding-left: 8px;
    padding-right: 8px;
}

.c10 .card h3 > svg {
    color: #256686;
    width: 16px;
    height: 16px;
}

.c10 .card span {
    color: #707070;
    line-height: 1.5;
    font-size: 12px;
    margin-bottom: 8px;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.c10 .card > a:hover {
    text-decoration: underline;
}

.c10 .propiety {
    margin: 20px 8px 8px 8px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5;
}

.c11 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.c11 > h4 {
    padding: 0;
    margin: 0 0 10px 0;
    line-height: 1.5;
    font-size: 16px;
    text-transform: uppercase;
    white-space: normal;
}

.c11 > p {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}

.c11 > a {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.5;
    color: #256686;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.c11 > a:hover {
    text-decoration: underline;
}

.c10 > .border-vertical {
    display: none;
}

.c12-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 100%;
    gap: 15px;
}

.c12-a-container {
    display: flex;
    width: 100%;
    max-width: 100vw;
    flex-direction: row;
    gap: 10px;
}

.c12-a {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    border-top: 1px solid #b09a5c;
    text-decoration: none;
}

.c12-a > .dateGold {
    color: #ae9859;
    padding: 16px 8px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #f8f5ef;
    font-weight: bold;
    gap: 8px;
}

.c12-a > h3 {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    padding: 10px 8px 8px 8px;
    background-color: #fff;
    white-space: normal;
    color: #222;
    margin: 0;
}

.c12-a > span {
    font-size: 12px;
    padding: 0 8px 0 8px;
    line-height: 1.5;
    color: #707070;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    background-color: #fff;
}

.c12-a:hover > span {
    background-color: #f8f5ef;
}

.c12-a:hover > h3 {
    background-color: #f8f5ef;
}

.c12 .border-vertical {
    display: none;
}

.c12-container > .c11 {
    width: 100%;
}

.c14 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
}

.c13-container {
    display: flex;
    width: 100%;
    max-width: 100vw;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-right: 4px;
}

.c13-container::-webkit-scrollbar {
    height: 8px;
}

.c13-container:hover::-webkit-scrollbar {
    height: 8px;
    color: #222;
}

.c13-container:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    height: 8px;
    background: rgba(0, 0, 0, 0.2);
}

.c13 {
    display: flex;
    width: min-content;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding: 10px;
}

.c13 > img {
    height: 55px;
    margin-bottom: 10px;
}

.c13 > span {
    font-size: 12px;
    padding: 0 8px 0 8px;
    line-height: 1.5;
    color: #707070;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    background-color: #fff;
}

.c13 > .kappa {
    font-size: 10px;
    line-height: 1.2;
    color: #555;
    text-transform: none;
}

.advertising {
    display: flex;
    flex-direction: column;
    background-color: #f8f5ef;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.c15 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
}

.c16 {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.c16 > h4 {
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    margin: 0;
    padding: 0 0 10px 0;
}

.c16 > span {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 10px 0;
    color: #222;
}

.c16 > a {
    display: block;
    white-space: nowrap;
    width: min-content;
    padding: 7px 30px 6px 30px;
    background-color: #256686;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    font-size: 15px;
}

.c16 > a:hover {
    background-color: #1f5772;
}

.c17 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.c17-item {
    display: flex;
    flex-direction: column;
    padding: 0 12px 15px 12px;
}

.c17-item > span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

.c17-item-number {
    display: flex;
    flex-direction: row;
    font-size: 28px;
    font-weight: 700;
    align-items: center;
}

.c17-item-number > svg {
    color: #dfb02d;
    margin-left: 20px;
}


@media (min-width: 480px) {
    .hidden {
        display: block; 
    }
}

@media (min-width: 768px) {
    .s2-title a span {
        font-size: 13px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .tilteChevron {
        display: none;
    }

    .c13-container {
        width: 100%;
        max-width: 100%;
    }

    .c13 {
        width: 29% !important;
    }

    .c15 {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .s2-m1024 {
        display: block;
    }

    .s2-M1023 {
        display: none !important;
    }
    
    #c9 {
        display: none;
    }

    .c10 > .border-vertical {
        display: block;
    }

    .c10 {
        flex-direction: row;
    }

    .c10 .card {
        width: 100% !important;
        min-width: auto !important;
    }

    .c11 {
        width: 20%;
    }

    .c10 .card span {
        line-clamp: 4;
        -webkit-line-clamp: 4;
    }

    .c12-container {
        flex-direction: row;
    }

    .c12-a {
        width: 237px;
        min-width: 237px;
        height: fit-content;
    }

    .c12-a > span {
        -webkit-line-clamp: 5;
        line-clamp: 5;
    }

    .c12-container > .c11 {
        width: 20%;
    }

    .c14 {
        flex-direction: row;
    }
}

/*--Foter--*/
footer {
    margin: 0;
    padding: 0;
    min-width: 100vw;
}

footer section {
    margin: 0;
    padding: 0;
    width: 100%;
}

footer > .bg-a {
    background-color: #edeae4;
    width: 100vw;
    justify-items: center;
}

footer > .bg-b {
    background-color: #f8f5ef;
    min-width: 100vw;
    justify-items: center;
}

footer > .bg-b > section {
    min-width: 100vw;
}

@media (min-width: 768px) {
    footer section {
        min-width: 0 !important;
        width: 684px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}

@media (min-width: 1024px) {
    footer section {
        width: 888px;
    }
}

@media (min-width: 1200px) {
    footer section {
        width: 1068px;
    }
}

.footer-header {
    padding: 0 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-header > .backTop {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
}

.backTop > button {
    border: 0;
    margin: 12px 0;
    padding: 0;
    font-size: 12px;
    line-height: 1;
    color: #555;
    text-decoration: none;
    align-items: center;
    display: flex;
    background-color: transparent;
    gap: 5px;
}

.backTop > button:hover {
    color: #256686;
    text-decoration: underline;
}

.footer-logo {
    padding: 12px 0 24px 0;
    height: 18px;
    justify-content: left;
}

.footerHeader-link {
    display: none;
    padding-top: 12px;
    padding-bottom: 24px;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
}

.footerHeader-link > li {
    margin-right: 18px;
}

.footerHeader-link > li > a {
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    text-decoration: none;
    color: #222;
}

.footerHeader-link > li > a:hover {
    color: #256686;
}

.fh-responsive {
    display: flex;
    flex-direction: column;
}

@media (min-width: 767px) {
    .fh-responsive {
        flex-direction: column;
    }

    .footer-logo {
        padding-bottom: 0;
    }

    .footerHeader-link {
        display: flex;
    }
}

@media (min-width: 1024px) {
    .footer-logo {
        padding-bottom: 24px;
    }

    .fh-responsive {
        flex-direction: row;
        justify-content: space-between;
    }
}

footer .smallWidth {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    border-top: 1px solid #ddd;
}

footer button {
    border: 0;
    background-color: transparent;
}

footer .dropdown-trigger {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.5;
    width: 100%;
    text-transform: uppercase;
}

footer .dropdown-menu {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #ffffff;
    width: 100%;
    display: none;
    position: relative;
    flex-direction: column;
    margin: 0;
    border-radius: 0;
}

footer .dropdown-menu > a {
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    color: #256686;
}

footer .dropdown-menu > a:hover {
    color: #2e5670;
    text-decoration: underline;
}

footer .social {
    flex-direction: row !important;
    gap: 10px !important;
}

.social > a {
    padding: 8px !important;
    width: 16px !important;
    height: 16px;
    color: #707070 !important;
    border: 1px solid #ddd;
}

.bigWidth {
    display: none;
}

@media (min-width: 768px) {
    .smallWidth {
        display: none !important;
    }

    .bigWidth {
        display: flex;
    }
}

.content-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-footer > .content {
    display: flex;
    flex-direction: column;
    width: 16.6%;
    padding: 5px;
}

.content-footer > .content > h4 {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    font-weight: 700;
    white-space: normal;
}

.content a {
    font-size: 14px;
    line-height: 1.5;
    color: #256686;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.subs2 {
    width: 33.3% !important;
}

.subs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.subs > .content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.subs > img {
    max-width: 115px;
    width: 50%;
    border: 1px solid #eee;
}

.g-social {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, min-content);
    gap: 10px;
}

.g-social > a {
    width: 16px;
    padding: 7px 9px;
}
